.container {
    border: 6px solid orange;
    width: 200px;
    height: 220px;
    margin: 20px;
    padding: 10px;
    background-color: blueviolet;
    text-align: center;
}
#number{
    border:1px solid red;
    display: inline-block;
    margin-left: 15px;
}
.row{
    margin-left: 15px;
    
}
button{
    width: 28%;
    background-color: red;
    border: 2px solid white;
    
} 